.StarWars {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.StarWars section {
  width: 100%;
}

.StarWars > :nth-child(1) {
  margin-right: 2rem;
}

.StarWars > :nth-child(2) {
  margin-left: 2rem;
}