:root {
  --light: #ffffff;
  --dark: #010025;
  --red: #ea485d;
  --orange: #ff9138;
  --yellow: #ffeb98;
  --blue: #00cfea;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--light);
  background-image: url('../assets/darth-vader.png');
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

.App .container {
  width: 80%;
  max-width: 72rem;
  margin: 0 auto;
}