.Display h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

.Display h3 {
  margin: 0 0 0.5rem 0;
}

.Display h3:last-of-type {
  margin-bottom: 2rem;
}

.Display .details {
  margin: auto;
  width: fit-content;
  text-align: left;
}